#AgendaContainer {
	color: white;
}

#AgendaContainer > div {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

#AgendaContainer > div > .MuiCardHeader-root {
	padding-top: 8px;
	padding-bottom: 0px;
}

#AgendaContainer > div > .MuiCardContent-root {
	padding-top: 0px;
}

#AgendaContainer > div > div > div > span {
	color: white;
}

#AgendaContainer > div > div > div:nth-child(1) > hr {
	border-color: white;
}

#AgendaContainer > div > div > div > hr {
	border-color: #333;
	border-width: 0.5px;
	border-style: solid;
}

#AgendaContainer > div > div > div > span.MuiCardHeader-title {
	text-align: center;
}

#AgendaContainer > div > div > div > span.MuiCardHeader-subheader {
	text-align: center;
}

#AgendaButtons {
	position: absolute;
	width: fit-content;
	float: left;
}

#AgendaButtons > button:nth-child(2) {
	position: absolute;
	right: 0px;
}

#AgendaButtons > button:not(.Mui-disabled) {
	color: #f15b6c;
	text-shadow: 1px 1px 0 black;
}

.agenda-item {
}

.agenda-time {
}

.agenda-content {
}

.agenda-completed {
	text-decoration: line-through;
	color: #666;
}
