#DateTimeContainer {
    font-weight: 500;
}

#DateTimeContainer > div {
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-radius: 4px;
    padding: 2px 6px;
}

#DateFormatted {
    font-size: 24px;
}

#TimeFormatted {
    font-family: 'Roboto Mono', monospace;
}